@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&display=swap');

body{
  font-family:'Raleway', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width:1284px) {
  .row{
    padding: 40px 80px !important;
  }
  .main-heading{
    font-size: 1.5rem !important;
  }
  .highlighted-text{
    font-size: 1.9rem !important;
  }
  .point-icons{
    width: 34px !important;
    height: 34px !important;
  }
  .point-content{
    font-size: 1.3rem !important;
  }
  .points{
    gap: 34px !important;
  }
  .content{
    gap: 30px !important;
  }
  .subs-form{
    width: 40% !important;
    border-radius: 6px !important;
    gap: 18px !important;
    padding: 24px 18px !important;
  }
  .step-count{
    font-size: 1rem !important;
    height: 30px !important;
    width: 30px !important;
  }
  .steps-section{
    gap: 80px !important;
    padding-inline: 3rem !important;
  }
  .step-title{
    font-size: 0.85rem !important;
  }
  .step-heading{
    font-size: 1.2rem !important;
  }
  .plan-title, .highlighted-price, .label, .price{
    font-size: 0.9rem !important;
  }
  .total-cost, .monthly-cost{
    font-size: 0.6rem !important;
  }
  .plans{
    padding: 12px !important;
  }
  .radio-img{
    width: 26px !important;
    height: 26px !important;
  }
  .offer-condition{
    font-size: 0.75rem !important;
  }
  .offer-img{
    width: 20px !important;
  }
  .pricing-calculations{
    padding: 12px 18px !important;
    gap: 8px !important;
  }
  .offer-box-outer{
    margin-inline: -18px !important;
  }
  .offer-box{
    padding: 6px 14px !important;
  }
  .bc-green-btn, .no-bc-red-btn{
    padding: 10px 30px !important;
    font-size: 0.75rem !important;
  }
  .razorpay-label{
    width: 86px;
    height: 30px;
  }
  .special-label{
    margin-top: -14px !important;
    padding: 1px 16px !important;
    font-size: 0.65rem !important;
    margin-left: 42px !important;
  }
  .dropdown-text{
    font-size: 0.9rem !important;
  }
  .logo{
    font-size: 1.8rem !important;
  }
  .dropdown-icon{
    width: 14px !important;
    height: 14px !important;
  }
  .dropdown-title{
    gap: 8px !important;
  }
  .top-header{
    padding: 8px 70px !important;
  }
  .search-icon{
    width: 15px !important;
    height: 15px !important;
  }
  .text-btn{
    font-size: 0.9rem !important;
  }
  .circular-btn{
    padding: 8px 36px !important;
    font-size: 0.9rem !important;
  }
  .step-content{
    gap:12px !important
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: linear-gradient(90.72deg, #0096FF 42.18%, #0048FF 93.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-header {
  display: flex;
  padding: 12px 80px;
  justify-content: space-between;
  background: white;
  align-items: center;
}
.left-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.dropdown-title {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.dropdown-text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 500;
  margin-block: 2.5px;
}
.dropdown-icon {
  width: 16px;
  height: 16px;
}
.basic-img {
  width: 100%;
  height: 100%;
}
.right-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
}
.search-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.text-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.circular-btn {
  padding: 10px 42px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
  border-radius: 52px;
}
.text-white {
  color: #fff;
}
.btn-text{
  font-weight: 700;
  font-size: 16px;
}
.main-body{
  background: url('./assets/images/bg.png');
  background-size: cover;
  backdrop-filter: brightness(0.2);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 72px 144px;
}
.content {
  display: flex;
  gap: 48px;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-heading {
  color: #fff;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 125%;
}
span.striked-price {
  text-decoration: line-through;
  text-decoration-color: red;
}
.highlighted-text {
  font-family: 'Roboto';
  font-size: 3.2rem;
  font-weight: 500;
}
span.offer-price {
  color: #0096ff;
  font-weight: 600;
}
.points {
  font-family: 'Roboto';
  gap: 56px;
  display: flex;
  align-items: center;
}
.point-content {
  color: #fff;
  font-size: 2rem;
}
.point-icons {
  height: 56px;
  width: 56px;
}
span.point-highlights {
  color: #0096ff;
  font-weight: 500;
}
.radio-img{
  width: 32px;
  height: 32px;
}
.subs-form {
  padding: 32px 24px;
  background: white;
  color: #3c4852;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 30%;
  border-radius: 8px;
}
.special-label {
  position: absolute;
  font-size: 12px;
  margin-top: -16px;
  line-height: 120%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-weight: 500;
  padding: 2px 24px;
  margin-left: 45px;
}
.red-bc{
  background-color: #f77171;
}
.green-bc{
  background-color: #47ba68;
}
.steps-section {
  display: flex;
  justify-content: space-evenly;
  gap: 160px;
  padding-inline: 5rem;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.step-count {
  height: 38px;
  border-radius: 1000px;
  width: 38px;
  background: #0096ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}
.step-title {
  font-size: 1rem;
  font-weight: 400;
}
.step-heading {
  text-align: center;
  line-height: 125%;
  font-weight: 600;
  font-size: 1.5rem;
}
.step-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.plans {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.plan-left-portion {
  display: flex;
  gap: 12px;
  align-items: center;
}
.plans.not-selected {
  border: 2px solid #bebebe;
}
.plans.selected {
  border: 2px solid #47ba68;
  background-color: #D7EDDD;
}
.plans.disabled {
  border: 2px solid #bebebe;
  background-color: #e7e7e7;
  color: #bebebe !important;
}
.plan-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.plan-right-portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.total-cost {
  display: flex;
  gap: 8px;
  font-size: 12px;
  align-items: flex-end;
  font-weight: 400;
  line-height: 120%;
}
.highlighted-price {
  font-weight: 600;
  font-size: 16px;
}
.monthly-cost {
  font-size: 12px;
  justify-content: center;
  line-height: 120%;
  gap: 8px;
  align-items: flex-end;
  display: flex;
}
.fadded-color {
  font-size: 10px;
  font-weight: 500;
  color: #bebebe;
}
.offer-color{
  color: #de4313;
}
.semi-bold{
  font-weight: 600 !important;
}
.pricing-calculations {
  border-top: 2px solid #bebebe;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.label-n-price {
  display: flex;
  justify-content: space-between;
}
.label {
  font-size: 16px;
  font-weight: 400;
}
.price {
  font-size: 16px;
  font-weight: 500;
}
.offer-box {
  padding: 12px 24px;
  display: flex;
  /* margin-inline: -24px; */
  width: inherit;
  background-color: #fff;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.1%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%); */
  flex-direction: column;
  gap: 4px;
}
.offer-box-outer{
  background: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.1%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%);
  padding: 2px;
  margin-inline: -24px;
  border-radius: 8px;
}
.offer-condition {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.offer-img {
  height: 24px;
}
.btn-grp {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.no-bc-red-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 42px;
  width: 100%;
  color: #f77171;
  border: 2px solid #F77171;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.bc-green-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  align-items: center;
  width: 100%;
  padding: 10px 42px;
  background: #47BA68;
  border: 2px solid #47BA68;
  border-radius: 4px;
  gap: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.razorpay-label {
  width: 120px;
  height: 43px;
}